:root {
    --pink-color: #e4c4c0;
    --main-color: #213875;
}

* {
    margin: 0;
    font-family: 'Futura PT',Futura,'Trebuchet MS',Arial,sans-serif;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    color: var(--main-color);
    /*background-color: #fff;*/
}

body {
    width: 1920px;
    height: auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {text-decoration: none;
}

.section_lead {
    margin: 50px 0 35px;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: -1.8px;
    text-align: center;
}

.main-content{
    width: 1686px;
    margin: 0 auto;
    padding: 0;
}

.header {
    width: 100%;
    margin-top: 20px;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu_link {
    padding: 0 20px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #213875;
    text-transform: uppercase;
    border-right: 2px solid #e0e3eb;
}
.menu-link:first-child {
    border-left: 2px solid #e0e3eb;
}
.logo-horisont {
    width: 92px;
    height: 17px;
}
.promo {
    position: relative;
    width: 100%;
    height: 780px;
    background-image: url("../img/main-image_1686x708.jpg" );
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.promo_banner {
    width: 432px;
    height: 177px;
    position: absolute;
    top: 317px;
    left: 74px;
    padding: 9px 12px 10px 17px;
    background-color: rgba(33, 56, 117, 0.65);
}

.promo_banner_text {
    font-size: 74px;
    font-weight: 500;
    text-align: left;
    color: #fff;
    line-height: 1;
    text-transform: uppercase;
}

.promo_banner_descript, .promo_banner_link {
    font-size: 32px;
    font-weight: 200;
    text-align: left;
    color: #ffffff;
    line-height: 1;
}

.promo_banner_link:hover {
    color: var(--pink-color);
}

.promo_banner_link {
    text-decoration: underline;
}

.promo_modal {
    position: absolute;
    width: 463px;
    height: 280px;
    top: 18px;
    right: 30px;
    padding: 20px;
    border: solid 1px #dee1ea;
    background-color: #ffffff;
}
.promo_modal_text {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.promo_modal_descript {
    font-size: 18px;
    font-weight: 200;
    line-height: 1;
    text-align: left;
}

.promo_modal_options {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}
.button {
    margin-top: 10px;
    width: 157px;
    height: 50px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
}
.button:hover {
    background-color: var(--pink-color);
}

.modal_button_icon {
    margin-right: 15px;
    width: 15px;
    height: 15px;
}

.shopping {
    margin-bottom: 57px;
    width: 100%;
    min-height: 965px;
    border: 1px solid #e0e3eb;
}

.shopping_card {
    display: inline-block;
    padding-top: 51px;
    width: 557px;
    height: 965px;
}

.card-one {
    /*padding-right: 18px;*/
    padding-left: 50px;
}
.card-two {
    padding-left: 29px;
    border-left: 1px solid #e0e3eb;
}

.card-free {
    padding-left: 18px;
    border-left: 1px solid #e0e3eb;
}

.shopping-img {
    width: 493px;
    height: 668px;
}
.shopping_card_text {
    padding-top: 30px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.button_read {
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
}

.byLook {
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.items-container {
    display: flex;
    flex-direction: column;
}

.byLook-img {
    margin-left: 50px;
    width: 1030px;
    height: auto;
}

.byLook_item {
    margin: 0 20px 40px;
    width: 476px;
    height: 800px;
}

.byLook_item-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 476px;
    height: 620px;
    background-color: #ebebeb;
}

.byLook_item-img {
    width: 330px;
    height: 440px;
}

.byLook_item-name, .byLook_item-price {
    margin-top: 18px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.54px;
    text-align: left;
}

.byLook_item-price {
    margin: 0;
    font-weight: 300;
}

#trousers, #jacket {
    margin-top: 25px;
    width: 400px;
}

.button_byLook {
    margin-left: 245px;
    margin-top: 30px;
    background-color: var(--pink-color);
}

.button_byLook:hover {
    color: white;
    background-color: var(--main-color);
}